# URL accesible desde el navegador (no uses el nombre del servicio Docker "backend")
NEXT_PUBLIC_API_URL=http://localhost:8000

BETTER_AUTH_SECRET=hbUWtetRlbBLMt2OiR9MxMLLtjdwFeD0
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/DATABASE_NAME
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret