NEXT_PUBLIC_API_URL=http://backend:8000

BETTER_AUTH_SECRET=hbUWtetRlbBLMt2OiR9MxMLLtjdwFeD0
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/DATABASE_NAME
